.card{
    width:200px;
    height: 200px;
    border:2px solid black;
    display: inline-block;
    background-size:cover;
    margin:10px;
    border-radius:5px;
    box-shadow: 0 4px 8px black;
    transition: 0.2s;
}
.desc{
    padding:0 2px 0 2px; 
}
img{
    height:100px;
    width:100%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    width:205px;
    height: 205px;
    box-shadow: 0 4px 16px goldenrod;
}
