div{
    height:500px;
    width:500px;
    background-color:pink;
    /* border-width:5px;
    border-style:solid;
    border-color:black; */
    border:5px solid black;
    border-top-right-radius:50px;
}
h1{
    /* border-width:2px;
    border-style:dashed;
    border-color:purple; */
    border: 2px dashed purple;
    border-left-color:pink;
    border-right-color:purple;
    border-bottom-color:black;
    border-top-color:yellow;
    border-radius:50px;
}
