<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h2>Here is the value <%=2*3%> </h2>
    <h3><%=['hello','bonjour','namaste'][2]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolore inventore a, itaque enim blanditiis voluptas consequuntur mollitia? Recusandae, ea maxime maiores consequuntur dicta hic necessitatibus aperiam et doloremque velit?
    Deserunt blanditiis consectetur, eos adipisci tempore commodi facilis distinctio corporis illo eveniet est, unde a neque sunt repudiandae praesentium, quibusdam debitis esse minus! Eius vero nemo ipsum mollitia hic ut?
    Rem quam rerum, molestias neque doloribus vel voluptatem architecto quibusdam impedit harum repellendus reprehenderit qui sapiente porro unde dolorum eveniet laboriosam! Eveniet unde, molestias earum corporis vel id nisi. Ipsa.
    Optio quae amet sunt ut doloribus est cumque, voluptas et sint laboriosam provident rerum molestiae nemo tempora! Tempore, rerum, odio expedita facilis atque consectetur, vero eum sint voluptatum ab eos!
    Esse in, mollitia similique fugiat tempore deserunt officia sint cupiditate, consectetur sequi reiciendis autem vero officiis quis, laboriosam illo sed accusantium aliquam doloribus! Numquam exercitationem unde, ipsum alias culpa dignissimos!</p>
    <button>Click me</button>
</body>
</html>